@model IEnumerable<Web2.Models.MixViewModel>

@{
    ViewBag.Title = "ScheduleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule</h2>
<td>
    <button onclick="location.href='@Url.Action("ScheduleList", "Employee")';return false;" class="btn btn-default">Schedule</button>

    <br><br>
</td>

<!--schedule table-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Time")
        </th>

        <th>
            @Html.DisplayName("Customer")
        </th>
        <th>
            @Html.DisplayName("Task")
        </th>
        <th>
            @Html.DisplayName("Duration")
        </th>
        <th></th>
    </tr>
    @using Microsoft.AspNet.Identity;

    @using Web2.Models;
    @{
        List<CustomerTask> taskList = new List<CustomerTask>();
    }

    @foreach (var item in Model)
    {
        if (item.schedule.employee_Id == User.Identity.GetUserId())
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.duration)
                </td>
                <td></td>
            </tr>
        }
    }

</table>

<!--task table-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Duration")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.schedule.employee_Id == User.Identity.GetUserId())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.task.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.description)
                </td>
                <td></td>
            </tr>
        }
    }

</table>

<!--customer table-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("UserName")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.schedule.employee_Id == User.Identity.GetUserId())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.UserName)
                </td>
                <td></td>
            </tr>
        }
    }

</table>
