@model IEnumerable<Web2.Models.MixViewModel>
@using GoogleMaps.LocationServices;

@{
    ViewBag.Title = "ScheduleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule</h2>
<td>
    <button onclick="location.href='@Url.Action("ScheduleList", "Employee")';return false;" class="btn btn-default">Schedule</button>

    <br><br>
</td>

<!--schedule table-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Time")
        </th>

        <th>
            @Html.DisplayName("Customer")
        </th>
        <th>
            @Html.DisplayName("Task")
        </th>
        <th>
            @Html.DisplayName("Duration")
        </th>
        <th></th>
    </tr>
    @using Microsoft.AspNet.Identity;

    @using Web2.Models;
    @{
        List<CustomerTask> taskList = new List<CustomerTask>();
    }

    @foreach (var item in Model)
    {
        if (item.schedule.employee_Id == User.Identity.GetUserId())
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.duration)
                </td>
                <td></td>
            </tr>
        }
    }

</table>

<!--task table-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Duration")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.schedule.employee_Id == User.Identity.GetUserId())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.task.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.description)
                </td>
                <td></td>
            </tr>
        }
    }

</table>

<!--customer table-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("UserName")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.schedule.employee_Id == User.Identity.GetUserId())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.UserName)
                </td>
                <td></td>
            </tr>
        }
    }

</table>


<style>
    #map {
        height: 250px;
        width: 400px;
    }
</style>

<hr />
<div class="embed-responsive embed-responsive-4by3">
    <div id="map-container" class="embed-responsive-item">
        <div id="map">
        </div>
    </div>
</div>

@section scripts {
    <script>
        function RouteVisit(name, date, time, lat, lng) {
            this.name = name;
            this.date = date;
            this.time = time;
            this.lat = lat;
            this.lng = lng;
        }

        function createMarker(width, height, radius) {
            var canvas, context;
            canvas = document.createElement("canvas");
            canvas.width = width;
            canvas.height = height;
            context = canvas.getContext("2d");
            context.clearRect(0, 0, width, height);
            context.fillStyle = "rgba(255,255,0,1)";
            context.strokeStyle = "rgba(0,0,0,1)";
            context.beginPath();
            context.moveTo(radius, 0);
            context.lineTo(width - radius, 0);
            context.quadraticCurveTo(width, 0, width, radius);
            context.lineTo(width, height - radius);
            context.quadraticCurveTo(width, height, width - radius, height);
            context.lineTo(radius, height);
            context.quadraticCurveTo(0, height, 0, height - radius);
            context.lineTo(0, radius);
            context.quadraticCurveTo(0, 0, radius, 0);
            context.closePath();
            context.fill();
            context.stroke();
            return canvas.toDataURL();
        }

        var map, infoWindow;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),
                {
                    center: { lat: 55, lng: 12 },
                    zoom: 6
                });
            infoWindow = new google.maps.InfoWindow;

            let markerIcon = {
                url: createMarker(25, 25, 4),
                labelOrigin: new google.maps.Point(55, 12)
            }

            let visits = new Array();
            

            @foreach (var item in Model)
            {
                if (item.schedule.employee_Id == User.Identity.GetUserId() && item.customer.Address != null) {
                    System.Diagnostics.Debug.WriteLine("   schedule valid, lat: " + item.customer.Latitude + ", lon: " + item.customer.Longitude);
                    var lat = item.customer.Latitude.ToString().Replace(",", ".");
                    var lon = item.customer.Longitude.ToString().Replace(",", ".");

                    @:visits.push(new RouteVisit("@item.task.title", "@item.schedule.date", "@item.schedule.time", @lat, @lon));
                    
                }
            }

            let bounds = new google.maps.LatLngBounds();

            for (let i = 0; i < visits.length; i++) {
                let pos = new google.maps.LatLng(visits[i].lat, visits[i].lng);
                let marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    clickable: false,
                    icon: markerIcon,
                    label: {
                        text: visits[i].name,
                        color: "#000000",
                        fontSize: "12px",
                        fontWeight: "bold"
                    }
                });
                bounds.extend(pos);
            }

            google.maps.event.addListenerOnce(map, 'idle', function(event) {
                this.setZoom(map.getZoom()-1);

                if (this.getZoom() > 16) {
                    this.setZoom(16);
                }
            });

            map.setCenter(bounds.getCenter());
            map.fitBounds(bounds);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAffWabXysXAgZRoXTc-MP5_l6r7CNl-v0&callback=initMap">
    </script>
}
