@model Web2.Models.MasterMixViewModel
@using GoogleMaps.LocationServices;

@{
    ViewBag.Title = "Customer's Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule</h2>
<td>
    <button onclick="location.href='@Url.Action("Index", "Customer")';return false;" class="btn btn-default">Index</button>

    <br><br>
</td>

<!--schedule table-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Time")
        </th>
        <th>
            @Html.DisplayName("Task")
        </th>
        <th>
            @Html.DisplayName("Duration")
        </th>
        <th></th>
    </tr>
    @using Microsoft.AspNet.Identity;


    @foreach (var item in Model.mixViewModel)
    {
        if (item.schedule.customer_Id == User.Identity.GetUserId())
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.duration)
                </td>
                <td></td>
            </tr>
        }
    }

</table>

<!--task table-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Duration")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.mixViewModel)
    {
        if (item.schedule.customer_Id == User.Identity.GetUserId())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.task.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.description)
                </td>
                <td></td>
            </tr>
        }
    }

</table>

<!--relative table-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Relation")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Phone Number")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.relatives)
    {
        if (item.customer_Id == User.Identity.GetUserId())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.relation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone_number)
                </td>
                <td></td>
            </tr>
        }
    }

</table>