@using Web2.Models;
@model dynamic

@{
    ViewBag.Title = "TaskList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TaskList</h2>

<p>
    @Html.ActionLink("Back", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("title")
        </th>
        <th>
            @Html.DisplayName("description")
        </th>
        <th></th>
    </tr>

    @foreach (CustomerTask task in Model.tasks)
    {
        <tr>
            <td>
                @task.title
            </td>
            <td>
                @task.description
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = @task.Id })
            </td>
        </tr>
    }

</table>